# Replace with the realm of you server
realm=$SERVER_DOMAIN
server-name=$SERVER_DOMAIN
listening-ip=0.0.0.0
# Replace with your TURN server external IP 
external-ip=$SERVER_EXTERNAL_IP
listening-port=3478
tls-listening-port=5349

cert=$SERVER_CERT_PEM_FILE
pkey=$SERVER_CERT_PRIV_KEY_FILE

fingerprint
verbose
no-cli
no-multicast-peers
simple-log
noudp


#Long Term Credential Mechanism authentication
lt-cred-mech
user=$SERVER_USER_1:$SERVER_PASSWD_1
